$fontSize: 15px;
$lineHeight: 22.5px;

html {
  font-size: $fontSize;
}

body {
  line-height: $lineHeight;
}

p, blockquote, ul, ol, dl {
  margin: 0;
  margin-bottom: $lineHeight;
}

h1 {
  font-size: $fontSize * 1.25 * 1.25 * 1.25 * 1.25;
  line-height: $lineHeight * 1.65;
  margin-top: $lineHeight * 1.35;
  margin-bottom: $lineHeight;
}

h2 {
  font-size: $fontSize * 1.25 * 1.25 * 1.25;
  line-height: $lineHeight * 1.65;
  margin-top: $lineHeight * 1.35;
  margin-bottom: $lineHeight;

}

h3 {
  font-size: $fontSize * 1.25 * 1.25;
  line-height: $lineHeight;
  margin-top: $lineHeight * 1.15;
  margin-bottom: $lineHeight * 0.85;
}

h4 {
  font-size: $fontSize * 1.25;
  line-height: $lineHeight;
  margin-top: $lineHeight * 1.15;
  margin-bottom: $lineHeight * 0.85;
}
