@font-face {
  font-family: BwMitga;
  src: url("../fonts/Branding with Type - BwMitga-Regular.otf");
  src: url("../fonts/Branding with Type - BwMitga-Regular.otf");
}
$BwMitga: BwMitga , sans-serif;
$Open: 'Open Sans', sans-serif;

$primary-green: #628C01;
$seconary-green: #4E7504;
$dark-green: #2D3D02;
$primary-red: #A55B2C;
$seconary-red: #5B3118;
$space-blue: #196868;


