<!doctype html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kamil Naja - strona firmowa</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css
">
  <link rel="stylesheet" href="../stylesheets/screen.css">
</head>
<body>

<div id="header"></div>
<main class="blog-post">
  <header class="primary-red">
    <div class="container">
      <h2>Biblioteczka programisty - polecane książki</h2>
    </div>
  </header>
  <div class="container books">
    <div class="row">
      <div class="col-md-8">
        <ul class="books-list">
          <li>
            <h3>Head First - JavaScript</h3>
            <h3></h3>
            <p></p>
          </li>
          <li>
            <h3>CSS bez tajemnic. 47 sekretów kreatywnego projektanta </h3>
            <h4>Lea Verou</h4>
          </li>
          <li>
            <h3>Git. Rozproszony system kontroli wersji</h3>
            <h4>Włodzimierz Gajda</h4>
          </li>
          <li>
            <h3>Head First - jQuery</h3>
          </li>
          <li>
            <h3>Pragmatyczny programista</h3>
            <h4>Andy Hunt</h4>
          </li>
          <li>
            <h3>Eloquent Javascript</h3>
            <h4>Marijn Haverbeke</h4>
          </li>
          <li>
            <h3>You Don't Know JS (seria)</h3>
            <h4>Kyle Simpson</h4>
          </li>

        </ul>

      </div>

      <div class="col-md-4">
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Strona zaprojektowana i wykonana przez - Kamil Naja</p>
        <p>Warszawa <time>2017</time></p>
      </div>
    </div>
  </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<script src="main.js"></script>

</body>
</html>