<!doctype html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kamil Naja - strona firmowa</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css
">
  <link rel="stylesheet" href="../stylesheets/screen.css">
</head>
<body>

<div id="header"></div>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Oferta pisania tekstów</h1>
        <p>Oprócz programowania, zajmuję się także pisaniem tekstów oraz tłumaczeniami ang-pl. </p>
        <p>Jeśli jesteś zainteresowany tekstami/tłumaczeniami na takie tematy, jak:</p>
        <ul>
          <li>Programowanie</li>
          <li>Nowe technologie</li>
          <li>Marketing internetowy</li>
          <li>Zdrowie i ziololecznictwo</li>
        </ul>
        <p>zapraszam do kontaktu. Stawka wynosi około 12 zł / 1000 znaków netto w przypadku artykułów specjalistycznych. Nie piszę po angielsku - piszę na podstawie tekstów w języku ang. Pisaniem na temat zdrowia zajmuję się od 4 lat. Tłumaczę także instrukcje obsługi, takich urządzeń, jak jonizatory wody czy efekty gitarowe.</p>
        <p>Poniżej przedstawiam moje portfolio - kilka z najważniejszych projektów. </p>
      </div>
      <div class="col-md-12">

      </div>
    </div>
  </div>
</section>

<section id="tech">
  <header class="primary-green">
    <div class="container">
      <h2>Portfolio</h2>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <article id="post-11" class="post-11 page type-page status-publish hentry">
          <div class="entry-content clearfix">
            <h2>Prasa:</h2>
            <ul>
              <li>quadzik.pl/&nbsp;– artykuły do czasopisma, recenzje produktów</li>
            </ul>
            <h2>Książki</h2>
            <ul>
              <li>e-book <a href="http://www.zostancopywriterem.pl/kurs-copywritingu" rel="nofollow">Zostań copywriterem</a> – kompleksowy kurs pisania</li>
              <li>7 sposobów na lepsze teksty non-fiction (w publikacji)</li>
            </ul>
            <h2>Prowadzę następujące blogi:</h2>
            <ul>
              <li><a href="http://pierwszycommit.blogspot.com/">Pierwszy Commit - blog na temat programowania webowego</a></li>
              <li><a title="Blog o zielarstwie" href="http://www.dobreziola.com/">http://www.dobreziola.com/</a>&nbsp;– tematy powiązane ze ziołolecznictwem</li>
              <li><a href="http://zielarniaimbir.blogspot.com/">http://zielarniaimbir.blogspot.com/</a> (autor – kamilnaja) – blog na temat ziołolecznictwa</li>
              <li><a href="http://poradnikcopywritera.blogspot.com/" rel="nofollow">http://poradnikcopywritera.blogspot.com/</a>&nbsp;– blog na temat pisania tekstów</li>
              <li><a href="http://nacito.blogspot.com/" rel="nofollow">http://nacito.blogspot.com/</a>&nbsp;– specjalistyczny blog dla osób pracujących w aptekach</li>
              <li><a href="http://www.dobreprogramy.pl/385622,kamilnaja,Uzytkownik.html">http://www.dobreprogramy.pl/385622,kamilnaja,Uzytkownik.html</a>&nbsp;– ten portal znają chyba wszyscy</li>
              <li><a href="http://dobrayerba.blogspot.com/">http://dobrayerba.blogspot.com/</a>&nbsp;– blog na temat yerba mate</li>
              <li><a href="http://zdrowieweb.pl/">zdrowieweb.pl</a>&nbsp;– blog na temat zdrowia</li>
            </ul>

            <h2>Pomagam w redagowaniu następujących stron:</h2>

            <ul>
              <li><a href="http://ostaryna.pl/">http://ostaryna.pl/</a>&nbsp;– teksty na temat preparatów SARM</li>
              <li><a href="http://gurbacka.pl/">http://gurbacka.pl/</a>– teksty na temat zdrowia</li>
              <li><a href="http://fitness-inspiracje.pl/dieta-watrobowa-a-cwiczenia-jak-wspierac-nasz-naturalny-filtr" rel="nofollow">http://fitness-inspiracje.pl</a>&nbsp;teksty o zdrowiu</li>
              <li><a href="http://psdtube.pl/nowoczesny-wyglad-postaci-dzieki-ps" rel="nofollow&quot;">http://psdtube.pl</a>/ – poradniki do Adobe Photoshopa</li>
              <li><a href="http://www.androido.pl/" rel="nofollow">http://www.androido.pl/</a>&nbsp;– newsy ze świata urządzeń mobilnych</li>
              <li><a href="http://www.embiznes.pl/recenzje/telefonow/2656-recenzja-sony-xperia-z" rel="nofollow">http://www.embiznes.pl/recenzje/telefonow/2656-recenzja-sony-xperia-z</a>&nbsp;– recenzje smartfonów</li>
              <li><a href="http://www.amistadmobile.pl/2013/10/czy-google-glass-zmieni-nasz-sposob-odbioru-rzeczywistosci/" rel="nofollow">http://www.amistadmobile.pl</a>&nbsp;– blog na temat aplikacji na smartfony oraz nowinek technicznych</li>
              <li><a href="http://www.e-import.pl/" rel="nofollow">http://www.e-import.pl</a>&nbsp;– publikacje na temat importowania towaru</li>
              <li><a href="http://fitness-inspiracje.pl/dieta-watrobowa-a-cwiczenia-jak-wspierac-nasz-naturalny-filtr" rel="nofollow">http://mediarivermagazine.pl</a>&nbsp;– strona o nowościach w świecie smartfonów</li>
              <li><a href="http://androidapps.pl/" rel="nofollow">http://androidapps.pl/</a> – artykuły na temat smartfonów</li>
              <li><a href="http://hobby-dla-faceta.pl/2014/04/26/noze-edc/" rel="nofollow">http://hobby-dla-faceta.pl/2014/04/26/noze-edc/</a>&nbsp;– na temat noży</li>
              <li><a href="http://birmingham-coventry.pl/" rel="nofollow">http://birmingham-coventry.pl/</a>&nbsp;– dziennikarstwo</li>
              <li><a href="http://www.manchester-liverpool.pl/">www.manchester-liverpool.pl</a> – dziennikarstwo</li>
              <li><a href="http://www.twojerejony.co.uk/">www.twojerejony.co.uk</a> – dziennikarstwo</li>
              <li><a href="http://cudph.pl/">http://cudph.pl/</a> – teksty na temat diety alkalicznej</li>
              <li><a href="http://smartmag.pl/author/kamnaj/">http://smartmag.pl/</a>&nbsp;– o rozwoju osobistym, pieniądzach i zdrowiu</li>
              <li><a href="https://zielarskie.pl/">https://zielarskie.pl/</a>&nbsp;– blog na temat ziołolecznictwa</li>
              <li>redaktor na stronie <a href="http://wylecz.to/pl/eksperci/ekspert/technik-farmacji-kamil-naja.html">wylecz.to</a>&nbsp;– bloga na temat zdrowia</li>
            </ul>

            <h2>Opisy do sklepów</h2>

            <ul>
              <li><a href="http://www.meble-bogart.pl/lawa-etna-p-1721-105-40.105.html" rel="nofollow">http://www.meble-bogart.pl</a>&nbsp;– opisy mebli</li>
              <li><a href="http://www.m-65.pl/" rel="nofollow">http://www.m-65.pl/</a>&nbsp;– sklep internetowy z odzieżą militarną, opisy produktów</li>
              <li><a href="http://myloview.pl/" rel="nofollow">http://myloview.pl/</a>&nbsp;– sklep internetowy z fototapetami</li>
              <li><a href="http://lupo-baterie.pl/" rel="nofollow">http://lupo-baterie.pl/</a>&nbsp;– opisy baterii</li>
              <li><a href="http://sklep.fighttube.pl/">http://sklep.fighttube.pl/</a>&nbsp;– opisy sprzętu sportowego</li>
              <li><a href="http://bushido-sport.pl/">http://bushido-sport.pl/</a>&nbsp;– opisy sprzętu sportowego</li>
              <li><a href="https://www.copyrem.pl/">https://www.copyrem.pl</a> – opisy kserokopiarek</li>
              <li><a href="http://strefamocy.pl/pl/">http://strefamocy.pl/pl/</a> – opisy suplementów diety</li>
              <li><a href="http://www.hayne.pl/">http://www.hayne.pl/</a> – opisy sprzętu optycznego</li>
            </ul>

            <h2>Teksty sprzedażowe</h2>

            <ul>
              <li><a href="http://akademiahrnews.pl/hrweekend.html">http://akademiahrnews.pl/hrweekend.html</a></li>
              <li><a href="http://www.strefatekstu.pl/wp-content/uploads/2014/02/tekst-nieruchomo%C5%9Bci.pdf" rel="nofollow">Tekst perswazyjny</a>&nbsp;zachęcający do współpracy agentów nieruchomości</li>
              <li><a href="http://www.zostancopywriterem.pl/kurs-copywritingu" rel="nofollow">http://www.zostancopywriterem.pl/kurs-copywritingu</a>&nbsp;– strona sprzedażowa mojej publikacji na temat copywritingu</li>
              <li>http://www.allezoo.com.pl/ – kurs e-mailowy</li>
            </ul>
            <h2>Recenzje książek</h2>
            <ul>
              <li><a href="http://www.literutopia.pl/2014/09/hypnotic-writing-joe-vitale-recenzja.html">http://www.literutopia.pl/2014/09/hypnotic-writing-joe-vitale-recenzja.html</a></li>
              <li>Mnóstwo recenzji na Interia360 (niestety, portal został zlikwidowany :(</li>
            </ul>

            <h2>Współpraca z firmami:</h2>

            <ul>
              <li><a href="http://lubieryby.pl/">http://lubieryby.pl/</a></li>
              <li><a href="http://luminosfera.pl/">http://luminosfera.pl/</a></li>
              <li><a href="http://www.powerbruk.pl/">http://www.powerbruk.pl/</a></li>
              <li><a href="http://maxmania.pl/">http://maxmania.pl/</a></li>
              <li><a href="http://halodoktorze.pl/">http://halodoktorze.pl/</a></li>
              <li><a href="http://j-net.pl/">http://j-net.pl/</a></li>
              <li><a href="http://www.semy.pl/">http://www.semy.pl/</a></li>
              <li><a href="http://budo-shop.pl/">http://budo-shop.pl/</a></li>
              <li><a href="http://bushido-sport.pl/">http://bushido-sport.pl/</a></li>
              <li><a href="http://www.qubusmedia.pl/">http://www.qubusmedia.pl/</a></li>
              <li><a href="http://www.protax.com.pl/">Hurtownia motoryzacyjna Protax</a></li>
              <li><a href="https://www.eactive.pl/">https://www.eactive.pl/</a></li>
              <li><a href="http://www.transqual.pl/">http://www.transqual.pl/</a></li>
              <li><a href="http://officezone.pl/">www.officezone.pl</a></li>
              <li>Printec Aneta Jarosińska</li>
              <li><a href="http://www.wira.pl/">http://www.wira.pl/</a></li>
              <li><a href="http://www.biznesponadgranicami.pl/">http://www.biznesponadgranicami.pl/</a></li>
              <li><a href="http://anna-sikorska.pl/">http://anna-sikorska.pl</a></li>
              <li><a href="http://www.zumi.pl/2688288,Agencja_Reklamowa_Grzegorz_Kolodziejski._Strony_internetowe__strony_www,Jamno,firma.html#aboutPage">Agencja Reklamowa Grzegorz Kołodziejski<br>
              </a></li>
              <li><a href="https://supertlumacz.pl/">http://supertlumacz.pl/</a></li>
              <li><a href="http://www.mala-firma.pl/">http://www.mala-firma.pl/</a></li>
              <li><a href="http://www.transqual.pl/en/">http://www.transqual.pl/en/</a></li>
              <li><a href="http://www.highlight.com/">http://www.highlight.com/</a></li>
              <li><a href="http://www.piotrmotyl.pl/">http://www.piotrmotyl.pl/</a></li>
              <li><a> Xvision – teksty na temat interaktywnych podłóg</a></li>
              <li><a href="https://www.lola.pl/"> Lola.pl – niewulgarne opisy produktów w seks-shopie</a></li>
              <li><a href="http://millesoft.pl/"> Millesoft </a></li>
              <li><a href="http://vitamarket.pl/"> Vitamarket </a></li>
              <li><a href="https://centrumamis.pl/"> Centrum Amis </a></li>
              <li><a href="http://www.adansonia.pl/"> Adansonia </a></li>
              <li><a href="http://testosterone.pl/"> Testosterone.pl </a></li>
              <li><a href="http://zajecia-dodatkowe.pl/">zajęcia-dodatkowe.pl</a></li>
            </ul>
          </div>
        </article>

      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <p>Strona zaprojektowana i wykonana przez - Kamil Naja</p>
      <p>Warszawa 2017</p>
      </div>
    </div>
  </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<script src="../main.js"></script>
</body>
</html>