@font-face {
  font-family: BwMitga;
  src: url("../fonts/Branding with Type - BwMitga-Regular.otf");
  src: url("../fonts/Branding with Type - BwMitga-Regular.otf");
}
/* line 3, ../sass/screen.scss */
body {
  hyphens: auto;
  overflow-wrap: break-word;
}

/* line 7, ../sass/screen.scss */
.navbar {
  background-color: #628c01;
}

/* line 10, ../sass/screen.scss */
.nav-item a {
  color: white;
  text-transform: uppercase;
}

/* line 14, ../sass/screen.scss */
header h1 {
  font-size: 20px;
  margin-bottom: 0;
}

/* line 19, ../sass/screen.scss */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: white;
}

/* line 25, ../sass/screen.scss */
.navbar-light .navbar-nav .nav-link {
  color: white;
}

/* line 28, ../sass/screen.scss */
.navbar-light .navbar-brand {
  color: white;
  font: 20px BwMitga, sans-serif;
  position: relative;
  right: 18px;
}
/* line 33, ../sass/screen.scss */
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:active, .navbar-light .navbar-brand:visited {
  color: white;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
}

/* line 38, ../sass/screen.scss */
.bg-faded {
  background-color: #628C01;
}

/* line 41, ../sass/screen.scss */
.navbar-light .navbar-toggler {
  border-color: transparent;
}

/* line 46, ../sass/screen.scss */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

/* line 51, ../sass/screen.scss */
.navbar-toggler-icon {
  margin-top: -3px;
}

/* line 54, ../sass/screen.scss */
.navbar-light .navbar-toggler-icon {
  background-image: url("../images/dots.png");
  background-size: contain;
}

/* line 58, ../sass/screen.scss */
section {
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  /* line 58, ../sass/screen.scss */
  section {
    padding-bottom: 25px;
  }
}
/* line 63, ../sass/screen.scss */
section h2 {
  margin-top: 50px;
}
@media (max-width: 768px) {
  /* line 63, ../sass/screen.scss */
  section h2 {
    margin-top: 25px;
  }
}

/* line 71, ../sass/screen.scss */
section header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}
@media (max-width: 768px) {
  /* line 71, ../sass/screen.scss */
  section header {
    margin-bottom: 25px;
  }
}
/* line 78, ../sass/screen.scss */
section header.space-blue {
  background-color: #196868;
}
/* line 81, ../sass/screen.scss */
section header.secondary-green {
  background-color: #4E7504;
}
/* line 84, ../sass/screen.scss */
section header.primary-red {
  background-color: #5B3118;
}
/* line 87, ../sass/screen.scss */
section header h2 {
  color: white;
  padding-top: 5px;
  margin-top: 0;
}

/* line 94, ../sass/screen.scss */
.about {
  background: url(../images/star-1608407.jpg) fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-clip: padding-box;
  filter: grayscale(0.5);
  color: white;
}
/* line 101, ../sass/screen.scss */
.about h1 {
  padding-top: 50px;
}

/* line 105, ../sass/screen.scss */
footer {
  background-color: #628C01;
  color: white;
  padding-top: 10px;
}

/* line 111, ../sass/screen.scss */
.vis-item {
  font-size: 12px;
  text-transform: uppercase;
}

/* line 115, ../sass/screen.scss */
.vis-item:nth-child(odd) {
  background-color: #4E7504;
  color: white;
}

/* line 119, ../sass/screen.scss */
.vis-item:nth-child(even) {
  background-color: #628C01;
  color: white;
}

/* line 125, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: BwMitga, sans-serif;
  text-transform: uppercase;
}

/* line 129, ../sass/screen.scss */
h2 {
  font-size: 22px;
}

/* line 132, ../sass/screen.scss */
h3 {
  font-size: 18px;
}

/* line 135, ../sass/screen.scss */
h4 {
  font-size: 14px;
}

/* line 138, ../sass/screen.scss */
p {
  font-family: "Open Sans", sans-serif;
}

/* line 141, ../sass/screen.scss */
.books {
  margin-top: 50px;
}

/* line 144, ../sass/screen.scss */
.books-list li {
  list-style-type: none;
  border-bottom: 1px dashed green;
}

/* line 148, ../sass/screen.scss */
.books h2, .books h3 {
  text-transform: none;
}

/* line 151, ../sass/screen.scss */
.books h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}
